@media only screen and (max-width: 1024px) {
h2, h3 {
    font-size: 1.6em;
    font-weight: bold;
   }
.jsn-bootstrap .jsn-form-content .message {
    width: 100% !important;
    max-width: 100% !important;
}
.nav.menuakcionar {
    margin-right: 20px !important;
    }
div.username {
right: 255px;
}

ul.category-module li,
ul.category-modulezprava li {
max-width: 300px;
margin-bottom: 70px;
}
.logout {
right: 110px;
}

.slider-content-wrapper {
    margin-top: 0px;
}
.banner-wraper {
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    text-align: center;
    overflow-y: visible !important;
}

.custombanner {
    width: 260px;
}
.custombanner-logo p span {
    font-size: 36px !important;
}
.custombanner-logo p img {
    width: 160px !important;
}
.video-wraper {
    padding-top: 55px;
}

.i-form2 {
    left: 422px;
}
.customvideo {
    margin-left: -38px;
}
.customvideotitle {
    margin-left: 5px;
}
.customfooter {
    margin-right: 25px;
}
.slider {
   height: auto;
        }
#company-wraper {
    padding: 50px 0;
                }
input#1.jsn-input-medium-fluid {
    width: 76% !important;
}
input#2.email.jsn-input-medium-fluid {
    width: 76% !important;
}
.controls .row-fluid .email {
    width: 76% !important;
}
.jsn-master .jsn-input-xlarge-fluid {
    width: 99%;
}
h1.sp-smart-title {
   font-size: 2.1em !important;
   margin-left: 10px;
   max-width: 340px !important;
   height: 130px;
   margin-top: 55px;
                }
p.sp-smart-posttitle {
   max-width: 340px !important;
   font-size: 1.3em !important;
   margin-top: 50px;
                    }
.nivo-title {
    font-size: 45px;
    max-width: 800px;
    margin-top: 116px;
}
.i-form2 {
    left: 422px;
}

.logout {
  right: 83px;
}
div.username {
  right: 260px;
}

ul.category-module li {
      max-width: 49%;
}
}

@media only screen and (max-width: 768px) {
h2, h3 {
    font-size: 1.4em;
    font-weight: bold;
   }
.navbar-nav li:nth-child(3) {
display: none !important;
}
.nav>li>a>img {
    background-size: 50%;
              }
.menuakcionar {
    margin-right: 6px !important;
    }
.username {
    left: 27em !important;
    }
.slider, .row-slider {
    z-index: 10 !important;
    max-height: 282px;
    margin-top: 10px;
margin-bottom: 60px;
}
.nivo-title {
   padding-top: 49px;
   font-size: 32px !important;
   margin-top: 90px;
   max-width: 700px;
   text-align: center;
   padding-left: 120px;
   padding-right: 120px;
            }
.nivo-posttitle {
   font-size: 14px;
                }
.nivo-readmore {
   font-size: 18px;
}
.nivo-caption p {
    margin-bottom: 19px;
}
.nivoSlider {
    margin-top: -40px;
        z-index: 10 !important;
            }
.container-fluid {
    margin-top: 49px !important;
    max-height: 282px;
            }
.slider-wraper {
    margin-top: 16px !important;

 }
.slider {
   margin-top: 0px;
   height: auto;
   z-index: 1;
        }
.corpora-slider {
    margin-top: 0px;
    }
h1.sp-smart-title {
   font-size: 1.6em !important;
   margin-left: 10px;
   height: 130px;
   margin-top: 97px;
                }
p.sp-smart-posttitle {
   font-size: 1.2em !important;
   max-width: 250px !important;
   margin-top: 70px;
                    }
.custombanner-logo p span {
    font-size: 26px !important;
}
.custombanner p span {
    font-size: 18px !important;
}
div.row.banner.text-left {
    width: 340px !important;
}
.custombanner {
    margin-top: -10px;
    margin-left: 0px;
}
.i-form2 {
    left: -9px;
top: 106px;
}
.i-form3 {
    top: 200px;
}
div.username {
    right: 100px;
}
.logout {
right: 65px;
}
.layout-corpora {
overflow: visible;
}
.custombanner-logo p span {
padding-right: 15px;
}
.customvideo p {
    width: 100%;
             }
.video1, .video2, .video3 {
    padding: 50px 15px;
    background-size: 60% !important;
             }
iframe {
    width: 80% !important;
    height: 80% !important;
    display: inline;
    margin-left: 40px;
}
.customvideotitle {
    margin-left: 30px;
                  }
.fakturace {
    margin-top: 25px;
           }
.footer-box {
    margin-left: 16px;
                             }
.kontakt-header {
    margin-left: 30px;
                             }
#company-wraper {
    padding: 50px 0;
                }
#header {
   height: 50px !important;
}
.info-uvod {
margin-bottom: 50px;
}
p.sp-smart-posttitle {
max-width: 300px !important;
}
.custombanner-logo p img {
    width: 155px !important;
}
img.hidden-lg.hidden-md {
  width: 97px;
  margin-top: -22px;
}

li.item-147 {
    padding-left: 0em;
}

.modaltest {
    left: 36em;
}
#company-wraper {
    padding: 0px 0px;
}
.certifikat img {
    display: none;
}

iframe {
    margin-left: 68px;
    width: 70%;
    height: 300px !important;
    display: inline;

}

.controls .jsn-input-medium-fluid {
    width: 70%;
    padding-left: 65px;
  }

  .controls .row-fluid .email {
    width: 72% !important;
    padding-left: 65px;
}

.i-form3 {
    top: 106px;
}

.i-form2 {
    left: 298px;
    top: 7px;
}

.footer-wraper {
  background-position: bottom;
}

.slider {
    margin-top: 90px;
  }

  .col-xs-12.col-md-5.col-lg-5.col-md-offset-1.col-lg-offset-1.certifikat {
    margin-bottom: 45px;
  }
}

@media only screen and (max-width: 736px) {
.modaltest {
    top: 111px;
           }
div.username {
    top: -43px;
             }
.logout {
    top: -65px;
        }
.container.zpravy {
    margin-top: -10px;
}

.nivo-title {
    font-size: 26px !important;
    padding-top: 72px;
            }
.corpora-slider {
    margin-top: 0px;
    background-size: 121% !important;
    }
h1.sp-smart-title {
   font-size: 1.5em !important;
   margin-left: 10px;
   height: 130px;
   margin-top: 97px;
                }
p.sp-smart-posttitle {
   font-size: 1em !important;
   max-width: 250px !important;
   margin-top: 80px;
                    }

.custombanner-logo p span {
    font-size: 26px !important;
}
.custombanner-logo p img {
    width: 110px !important;
}
.custombanner p span {
    font-size: 18px !important;
}
.custombanner-logo {
    width: 400px !important;
}
div.row.banner.text-left {
    width: 240px !important;
}
.custombanner {
    width: 180px !important;
    margin-top: -10px;
    margin-left: 30px;
}

li.item-101 {
    display: none !important;
}
.navbar-nav li:nth-child(3) {
display: none !important;
}
.navbar-header a img {
    position: absolute !important;
    width: 101px !important;
    left: 20px !important;
    top: 21px !important;
    z-index: 5000 !important;
}
.navbar-nav {
    margin-left: -21em;
}
.navbar-nav li a {
    margin: 0px 0px;
}
.modaltest {
    left: 18em;
}
.icon-bar {
background-color: #004d72;
}
.navbar-header {
float: none !important;
}

#header {
height: 40px !important;
}
.navbar-toggle {
margin-top: 0 !important;
}
.navbar-nav li, .nav>li {
float: right !important;
margin-left: 0em !important;
display: inline !important;
}

.video-wraper {
    padding-top: 37px;
  }

  .footer-wraper {
    background-position: center bottom;
}



.logout, div.username {
    top: 65px;
}

ul.nav.menuakcionar {
      margin-top: -60px;
}

div#sp-smart-slider121,
div#sp-smart-slider123  {
  margin-top: -90px;
  margin-bottom: -115px;
}

.footer-wraper {
    background-position: bottom center;
}

img.hidden-lg.hidden-md {
    width: 97px;
    margin-top: -17px;
}
}

@media only screen and (max-width: 667px) {
  div.username {
    right: 144px;
}

ul.nav.menuakcionar li a,
.nav li a {
  font-size: 12px;
}

div#company-wraper {
  margin-top: -65px;
}

.custombanner-logo {
    width: 315px !important;
}

.controls .jsn-input-medium-fluid {
  margin-left: -30px;
  padding-left: 15px;
  width: 90% !important;
}

.controls .row-fluid .email {
  width: 95% !important;
  padding-left: 15px;
}
.i-form1, .i-form2, .i-form3 {
  display: none;
}

div#sp-smart-slider121,
div#sp-smart-slider123  {
    margin-top: -70px;
}

@media only screen and (max-width: 600px) {
  ul.category-module li {
    max-width: 100%;
}
  .navbar-nav {
    margin-left: -19em;
}

.username {
    left: 18em !important;
    font-size: 12px;
}

a.logout {
  right: 80px;
  font-size: 12px;
}

.nivo-title {
      max-width: 600px;
}

p.nivo-posttitle {
  padding-right: 27px;
    margin-right: 96px;
    padding-left: 21px;
}

.custombanner-logo p img {
    width: 86px !important;
}

.footer-wraper {
    background-position: top center;
    background-size: cover;
}

.controls .row-fluid .email {
      width: 123% !important;
}

.jsn-master .jsn-input-xlarge-fluid,
.jsn-master .jsn-narrow .jsn-input-xlarge-fluid {
    width: 115% !important;
        padding-left: 15px;
}

.slider-title {
  font-size: 12px;
}

p.sp-smart-posttitle {
  margin-top: 95px;
}

}

@media only screen and (max-width: 568px) {
  .navbar-nav {
  margin-left: -17em;
}

.custombanner-logo {
    padding-right: 35px;
  }

  .custombanner-logo p img {
    width: 75px !important;
}

}

@media only screen and (max-width: 414px) {
  .modaltest {
    left: 13em;
    font-size: 12px;
}
    li.phone, li.email {
      font-size: 10px;
    }

    p.nivo-posttitle {
      display: none;
    }

    .nivo-title {
    margin-top: 124px;
    max-width: 204px;
    text-align: center;
}

.custombanner-logo {
  display: none;
}

.custombanner {
      margin-left: -120px;
}

button.btn.btn-primary {
  width: 114% !important;
}

li.item-146,
li.item-130,
li.item-147,
div#sp-smart-slider123,
div#sp-smart-slider121  {
  display: none !important;
}

.col-xs-12.col-sm-12.col-md-4.col-lg-4.info-uvod {
  margin-top: -140px;
}

ul.nav.menuakcionar {
    margin-top: -23px;
}
}

@media only screen and (max-width: 375px) {

  .control-group.email.emailova_adresa_37349543213_52_28.ui-state-highlight {
    width: 94%;

  }
    .mail, .mobil {
      background: none !important;
    }

    .username {
    left: 5em !important;
  }

  ul.nav.menuakcionar {
    margin-top: -14px;
  }

  .navbar-header a img {
    position: absolute !important;
    width: 84px !important;
  }

  button.btn.btn-primary.jsn-form-submit.btn-submit {
        margin-left: -30px;
  }
  button.btn.btn-primary {
    width: 109% !important;
}

.control-group.title.single_line_text_31223175113_50_42.ui-state-highlight,
#jsn_form_1.jsn-master .jsn-bootstrap .jsn-form-content .control-group {
  width: 112%;
}

.control-group.email.emailova_adresa_37349543213_52_28 {
  width: 97%;
    margin-left: -12px;
}

.jsn-master .jsn-input-xlarge-fluid,
.jsn-master .jsn-narrow .jsn-input-xlarge-fluid {
    width: 122% !important;
        padding-left: 15px;
}
}

@media only screen and (max-width: 320px) {
  li.mail, div.username {
    display: none !important;
  }

  ul.nav.menuakcionar li a {
    font-size: 9px;
  }

  .nivo-title {
    font-size: 14px !important;
    padding-top: 99px;
}

iframe {
    margin-left: 50px;
    width: 70%;
    height: 204px !important;
  }

  #jsn_form_1.jsn-master .jsn-bootstrap .jsn-form-content .control-group {
    width: 112%;
  }

  button.btn.btn-primary.jsn-form-submit.btn-submit {
    font-size: 16px;
  }

  .btn-toolbar {
    margin-left: -12px !important;
}

.controls .row-fluid .email {
    width: 104% !important;
}
}
