/* TEMPLATE CSS
*********************************************/
html {height:100%; margin-bottom:1px; overflow-y:scroll;}
body {background-color:#fff; color:#000; font-family: 'Open Sans', sans-serif; height:100%; text-align:center;}
a:hover {
	color: #004d72;
}
/* LAYOUT
*********************************************/
#overall {height:100%; margin:0 auto; text-align:left; width:100%;}
	#header {}
	#main {}
	#footer {}
	.inheader {}
	.inmain {}
	.infooter {}
.float-left {float:left;}
.float-right {float:right;}
.group:before, .group:after {content:""; display:table;}
.group:after {clear:both;}
.ie6 .group {zoom:1;}
.ie7 .group {zoom:1;}
body {
	font-size: 16px;
 }
h2, p {
    color: #004d72;
}
h2 {
    font-size: 2.25em;
    font-weight: bold;
}
h3 {
    font-size: 2.25em;
    font-weight: bold;
    color: #fffff !important;
}
p {
    font-size: 1em;
}
ul li a:hover {
	color: ##004d72;
	text-decoration: underline;
}
label.element-invisible {
  margin-bottom: -20px;
}
.control-group.checkbox {
  margin-top: 22px;
    width: 40%;
		float: left;
}
label.control-label {
      margin-right: 30px;
    float: left;
}
input.inputbox {
      margin-top: 15px;
    float: left;
}
input.input-small {
  width: 100%;
  padding-left: 66px;
 color: #004d72 !important;
  font-size: 22px;
  font-weight: 200;
}
/***********************
HEADER
***********************/
#header {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.header-wraper {
    background-color: #def1f7;
    padding: 5px 0;
    height: 42px;
}
.header-kontakt {
    padding: 5px 0;
}
.mail {
    background: url(/templates/greycircle/images/email.png) 0 24% no-repeat;
    background-size: 24px 16px;
}
.mail a {
    color: #004d72;
}
.mobil {
    background: url(/templates/greycircle/images/phone.png) 7% 25% no-repeat;
    background-size: 18px 18px;
    color: #004d72;
}
.header-kontakt li {
    padding-left: 30px;
}
/***********************
MENU
***********************/
.main-nav {
    margin-top: 9px;
    overflow-x: visible;
}
.navbar-nav li a {
    text-transform: uppercase;
    margin: 0px 15px;
}
.navbar-header {
    float: left;
}
.text-center {
    text-align: center;
}
.navbar-nav {
    float: none;
    display: inline-block;
    margin-left: -9em;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: absolute;
}
li.current.active {
    font-weight: bold;
}
li.item-101 {
    position: absolute;
    top: 84px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2200;
}
li.item-147 {
    padding-left: 10em;
}
li.item-147, li.item-130, li.item-146 {
    z-index: 2000;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.nav li a {
  color: #004d72;
}
.nav li a:hover {
  text-decoration: underline;
  color: ##004d72 !important;
}
.current li a img {
z-index:�1000;
position:�absolute;
top:�17px;
bottom:�0px;
right:�7px;
margin-right:�auto;
left:�-51px;
height:�150px;
margin-left:�auto;
margin:�auto;
}
.current {
padding: 0px 10px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f3f6f7 inset;
}
button.btn.btn-primary {
    padding: 10px 30px !important;
    width: 100% !important;
    float: right;
  	background: #004d72;
  	text-transform: uppercase;
  font-weight: bold;
  border-radius:2em;
}
.userdata .control-group .controls {
  margin-top: 20px;
}
div#sbox-window {
  height: auto !important;
  padding-bottom: 20px;
  background: #fff !important;
}
.logo-b {
  	background: #fff;
    position: absolute;
    margin-top: -85px;
    height: 156px;
    width: 150px;
    padding: 32px;
    right: 0px;
    border-radius: 100%;
}
.i-i {
    position: absolute;
    background: #004d72;
    padding: 20px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    top: 109px;
    left: 23px;
}
.i-p {
    position: absolute;
    background: #004d72;
    padding: 20px;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    top: 235px;
    left: 23px;
}
.glyphicon {
  color: #fff;
  font-size: 45px;
}
span.glyphicon {
    /* width: 20px; */
    position: absolute;
    font-size: 45px;
    /* height: 20px; */
    top: 19px;
    color: #fff;
    right: 17px;
}
.body-overlayed {
    overflow: visible;
}
.menu-user {
    overflow: hidden;
}
.nav.menuakcionar {
    margin-right: 136px;
    margin-top: -15px;
    display: inline-flex;
    float: right;
    background-color: #def1f7;
    border-radius: 22px;
}
.nav.menuakcionar a:hover {
    text-decoration: underline;
}
#sbox-content {
    background-color: transparent !important;
}
.modaltest {
    left: 39em;
    display: block;
    z-index: 1000;
    float: right;
    position: absolute;
    top: 65px;
    color: #004d72 !important;
    text-transform: uppercase;
    text-decoration: none  !important;
    height: 40px !important;
}
#leftcolumn div {
  display: none;
}
#sbox-window {
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px 45px;
    font-size: 1em;
    background-image: url(/images/logo-GC.png);
    background-repeat: no-repeat;
    background-position: 100% -5%;
}
.input-small {
    border: 1px solid #5a5a5a;
    font-size: 0.4em;
    padding: 13px 0;
    padding-left: 60px;
    margin-top: 5px;
}
.add-on {
    color: #004d72 !important;
    margin-top: 20px;
    text-transform: uppercase;
        }
label {
    font-weight: 600 !important;
    font-size: 0.26em;
    display: block;
    padding-top: 15px;
    margin-left: 60px;
      }
input {
    background-color: #def1f7 !important;
      }
for.modlgn-username {
    color: red;
}
.control-label {
    margin: -4px 0;
    font-size: 0.42em;
    font-weight: 400 !important;
    color: #004d72 !important;
}
input.inputbox .checkbox {
    margin: 0px 0;
}
.unstyled {
    display: none;
}
#sbox-content div {
  display: block !important !important;
  font-size: 1.3em;
  font-weight: bold;
}
div.info-obsah {
    display: inline-block;
}
/*registrovan� u�ivatel zobrazen� username */
div.username {
    display: block;
  	right: 390px;
    position: absolute;
    top: 65px;
    color: #004d72 !important;
    font-weight: 600 !important;
		text-transform: uppercase;
}
li.item-149.current.active::after {
	content: "/";
	font-weight: bold;
	float: right;
	margin-top: -30px;
	color: #004d72;
}
li.item-150.current.active::before {
	content: "/";
	font-weight: bold;
	float: left;
	margin-top: 10px;
	color: #004d72;
}
/*********************
SLIDER
*********************/
.slider-content-wrapper {
	margin-top: -20px;
}
.slider {
    height: auto;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
    position: relative;
    margin-top: -137px;
    z-index: 800;
         }
.container-fluid {
    margin-top: 148px;
}
.nivo-caption {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    background: none;
    margin: auto;
    color: #fff;
    width: 680px;
    height: 500px;
    text-align: center;
    z-index: 8;
    padding: 5px 10px;
    opacity: 0.8;
    overflow: hidden;
    display: none;
    -moz-opacity: 0.8;
    filter: alpha(opacity=8);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nivo-caption p {
    margin-bottom: 50px;
              }
.nivo-title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.2;
    max-width: 800px;
    text-align: center;
             }
.nivo-posttitle {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    color: #ffffff;
}
.nivo-readmore {
    font-size: 24px;
    font-weight: bold;
    color: #dceaf0;
             }
.layout-corpora .slider-title {
    margin-top: 0;
}
.slider-title {
    display: inline !important;
}
.corpora-slider {
    height: auto !important;
                }
h1.sp-smart-title {
    font-size: 2.8em !important;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 400px;
    float: left;
    color: #ffffff !important;
    height: 200px;
    margin-top: 104px;
                    }
p.sp-smart-posttitle {
    font-size: 2.1em;
    font-weight: 400;
    text-transform: uppercase;
    float: right !important;
    max-width: 400px;
    margin-top: 104px;
    color: #ffffff !important;
}
div.slider-item.item-1.animate-in {
    background-size: inherit !important;
}
.shromazdeni.nivoslider.nivo-caption.nivo-pretitle p {
    font-size: 2.5em !important;
    text-transform: uppercase !important;
}
div.shromazdeni.nivoslider.nivo-caption.nivo-title {
    font-size: 1.5em !important;
    text-transform: uppercase !important;
}
div.slider-controllers a {
    display: none !important;
}
/********************
COMPANY WRAPPER
********************/
#company-wraper {
    padding: 120px 0;
}
.certifikat {
    position: relative;
}
.certifikat img {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 100%;
    margin: 0 auto;
    width: 169px;
    height: 239px;
}
.uvod {
    height: 100%;
}
.clanek {
    height: 100%;
}
.container.zpravy {
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    text-align: top;
}
.container.zpravy h2 {
    padding-bottom: 0.5em;
}
p.mod-articles-category-introtext {
    padding-bottom: 1.3em;
}
ul.category-module li {
    display: inline-block;
    list-style-type: none;
    margin-left: 0em;
    padding-left: 3.5em;
    background: url(/images/shromazdeni.png) no-repeat 0 6px;
    background-size: 54px 60px;
    font-size: 1.4em;
    font-weight: 500;
    color: #004d72;
    max-width: 373px;
    height: 120px;
    text-transform: uppercase;
}
ul.category-module li p {
    font-size: 0.68em;
    font-weight: 100;
    color: #004d72;
    text-transform: none !important;
    text-decoration: none !important;
    max-width: 280px;
    margin-right: 14px;
}
ul.category-modulezprava li {
    display: inline-block;
    list-style-type: none;
    margin-left: 0em;
    padding-left: 3.5em;
    background: url(/images/zprava.png) no-repeat 0 6px;
    background-size: 54px 60px;
    font-size: 1.4em;
    font-weight: 500;
    color: #004d72;
    max-width: 373px;
    height: 120px;
    text-transform: uppercase;
}
ul.category-modulezprava li p {
    font-size: 0.68em;
    font-weight: 100;
    color: #004d72;
    text-transform: none !important;
    text-decoration: none !important;
    max-width: 280px;
    margin-right: 14px;
}
.banner-wraper {
    background: url(/images/banner-bg.png) 0 0 no-repeat;
    background-size: cover;
    height: 280px;
    padding-top: 102px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    text-align: center;
}
.custombanner-logo p, .custombanner p, .custombanner p a {
    color: #ffffff;
    line-height: 1.4;
}
.custombanner-logo p img {
    vertical-align: middle;
}
.custombanner p a {
    text-decoration: underline;
}
.banner-url {
    margin-left: -5px;
}
/*VIDEO-WRAPER*/
.video-wraper {
		background: url(https://trello-attachments.s3.amazonaws.com/54b8ff42b5f46a60ad33f838/1600x308/468b288576dca683bd688cd578286ed1/video-bg.jpg) no-repeat;
    height: auto;
    min-height: 100%;
    padding-top: 80px;
    margin-bottom: -115px;
		background-position: -146px -35px;
}
.video1, .video2, .video3 {
    padding: 60px 5.21%;
             }
.html5-video-player {
    background-color: transparent !important;
}
/*FOOTER-WRAPER*/
.footer-wraper {
    background: url(/images/mapa-bg.jpg) 0 0 no-repeat;
    height: auto;
    min-height: 100%;
    width: 100%;
    padding-bottom: 80px;
}
.footer-box {
    padding-top: 20px;
    color: #ffffff;
    line-height: 1.7;
            }
.footer-top {
    padding-top: 116px;
            }
.kontakt-header {
    color: #ffffff !important;
    padding-bottom: 20px;
    margin-top: -20px;
                }
.customfooter p {
    color: #ffffff !important;
    font-size: 0.875em;
    line-height: 1.2;
        }
.customfooter p em {
    line-height: 1.2;
        }
.fakturace-top {
    margin-top: 90px;
            }
#kontakt-form {
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 45px;
    font-size: 1.3em;
              }
.jsn-bootstrap .jsn-form-content .message {
    width: 110%;
}
.controls .jsn-input-medium-fluid {
    width: 80%;
    padding-top: 25px;
    padding-bottom: 16px;
		background-color: #fff;
}
button.btn.btn-primary.jsn-form-submit.btn-submit {
	width: 100%;
}
.i-form1,
.i-form2 ,
.i-form3 {
 background: #004d72;
 width: 80px;
 height: 80px;
 border-radius: 100%;
 position: absolute;
 left: -9px;
 top: 9px;}
.i-form1 img,
.i-form2 img,
.i-form3 img {
position: absolute;
 height: 32px;
 margin-right: auto;
 left: 20px;
 margin-left: auto;
 top: 22px;
}
.i-p img{
	position: absolute;
	left: 24px;
}
.i-i img {
	position: absolute;
	left: 18px;
}
.i-form2 {
	left: 520px;
}
.i-form3 {
	top: 105px;
}
.controls .row-fluid .email {
    width: 80%;
    padding-top: 25px;
    padding-bottom: 16px;
}
textarea {
    border: 1px solid red;
		margin-top: 25px;
}
input, textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 85px;
    font-size: 1.6em;
    border: 1px solid red;
}
.jsn-form-submit {
    background: #004d72;
    width: 200px;
    padding: 15px 25px;
    border: 1px solid #004d72;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    font-size: 1.8em;
}
.btn-toolbar {
    margin-left: 10px !important;
             }
#sbox-content > div > form > div.userdata > div:nth-child(4) > div > button {
    padding: 10px 30px !important;
    width: 55% !important;
		float: left;
}
.jsn-text-center {
    display: none;
}
.jsn-input-xlarge-fluid {
    margin-left: -30px;
                        }
input#1.jsn-input-medium-fluid {
    margin-left: -5px;
                       }
.row-fluid {
    margin-left: 11px !important;   /*ovlivn� v�echny boxy*/
                                     }
/*FOOTER-BOTTOM-WRAPER - PATI�KA STR�NKY*/
.bottom-footer-wrapper {
    padding: 15px;

}
.customcopyright p {
    font-size: 0.7em !important;
                 }
 .container.zpravy {
     min-height: 300px;
     background: #fff;
     height: auto;
 }
 .logout {
     display: block;
     position: absolute;
 	 		top: 65px;
     right: 228px;
     color: #535353 !important;
     text-transform: uppercase !important;
     text-decoration: underline !important;
 }
 .logout:hover {
     color: #ababab !important;
}
